@font-face {
  font-family: 'Novecento Sans Wide';
  src: url('/fonts/Novecentosanswide-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento Sans Wide';
  src: url('/fonts/Novecentosanswide-Normal.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento Sans Wide';
  src: url('/fonts/Novecentosanswide-DemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento Sans Wide';
  src: url('/fonts/Novecentosanswide-DemiBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  font-family: 'Novecento Sans Wide', sans-serif;
  background: #FFFFFF;
  color: #1A1A1A;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
}
